//
// Pills
//

.nav-pills {
    .nav-link {
      @include border-radius($nav-pills-border-radius);
      color: $gray-1001; 
    }
  
    .nav-link.active,
    .show > .nav-link {
      color: $nav-pills-link-active-color;
      background-color: $nav-pills-link-active-bg;
    }
  }