<footer class="pt-8 pt-md-11 @@classList">
  <div class="container">
    <div class="row pb-8 border-bottom border-secondary-desat-d">
      <div class="col-12 col-md-4 col-lg-3">

        <!-- Brand -->
        <img src="@@webRoot/assets/img/Cursos.svg" alt="..." class="footer-brand img-fluid mb-2">

        <!-- Text -->
        <p class="text-gray-700 mb-2">
          Sass variables and responsive grid system
        </p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/instagram-ok.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/facebook-ok.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item mr-3">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/twitter-ok.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item">
            <a href="#!" class="text-decoration-none">
              <img src="@@webRoot/assets/img/icons/social/linkedin-ok.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-1001">
          Main
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="@@webRoot/index.html" class="text-reset">
              Base Landing
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/success-landing.html" class="text-reset">
              Success Landing
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/little-course.html" class="text-reset">
              Little Landing
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/about.html" class="text-reset">
              About
            </a>
          </li>
          <li>
            <a href="@@webRoot/contact.html" class="text-reset">
              Contact
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-1001">
          Courses
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="@@webRoot/course-horizontal.html" class="text-reset">
              Course Horizontal
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/course-middle.html" class="text-reset">
              Course Middle
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/course-veritical.html" class="text-reset">
              Course Veritical
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/course-detail.html" class="text-reset">
              Course Detail
            </a>
          </li>
          <li>
            <a href="@@webRoot/student-course-detail.html" class="text-reset">
              Course View
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 offset-md-4 col-lg-2 offset-lg-0">

        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-1001">
          Features
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="@@webRoot/student-dashboard.html" class="text-reset">
              Student Dashboard
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/teacher-dashboard.html" class="text-reset">
              Teacher Dashboard
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/student-exam.html" class="text-reset">
              Online Test
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/teacher-add-course.html" class="text-reset">
              Add Course
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/checkout.html" class="text-reset">
              Checkout
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/term.html" class="text-reset">
              Term Condition
            </a>
          </li>
          <li>
            <a href="@@webRoot/thankyou.html" class="text-reset">
              Thank you
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">

        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-1001">
          Help
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-muted mb-0">
          <li class="mb-3">
            <a href="@@webRoot/teacher-help.html" class="text-reset">
              Documentation
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/teacher-help.html" class="text-reset">
              Help Center
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/teacher-structure.html" class="text-reset">
              Course Structure
            </a>
          </li>
          <li>
            <a href="@@webRoot/faq.html" class="text-reset">
              Faq
            </a>
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
    <div class="row align-items-center py-5">
      <div class="col-12 text-center">
        <span class="text-muted">Copyright @2020 All rights reserved | This template is made with by Gegeesoft</span>
      </div>
    </div>
  </div> <!-- / .container -->
</footer>