<!-- Required meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css">
<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css">
<link rel="stylesheet" href="@@webRoot/node_modules/quill/dist/quill.core.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/owl.carousel/dist/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/highlight.js/styles/default.css" />
<!-- Map -->
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />


<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->

<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->

<title>@@pageTitle</title>