<!-- Signup: Horizontal  -->
<div class="modal fade" id="modalSignupHorizontal" tabindex="-1" role="dialog"
  aria-labelledby="modalSignupHorizontalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row no-gutters">
          <div class="col-12 col-md-6 bg-cover card-img-left"
            style="background-image: url(@@webRoot/assets/img/photos/photo-8.jpg);">

            <!-- Image (placeholder) -->
            <img src="@@webRoot/assets/img/photos/photo-8.jpg" alt="..." class="img-fluid d-md-none invisible">

            <!-- Shape -->
            <div class="wave wave-right wave-fluid-y svg-shim text-white d-none d-md-block">
              @@include("../assets/img/shapes/curves/curve-9.svg")
            </div>

          </div>
          <div class="col-12 col-md-6">
            <div class="card-body">

              <!-- Close -->
              <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center font-second" id="modalSignupHorizontalTitle">
                Sign up
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                Thank you for join us
              </p>

              <!-- Form -->
              <form class="mb-6">

                <!-- Email -->
                <div class="form-group">
                  <label class="sr-only" for="modalSignupHorizontalEmail">
                    Your email
                  </label>
                  <input type="email" class="form-control" id="modalSignupHorizontalEmail" placeholder="Your email"
                    autocomplete="off">
                </div>

                <!-- Password -->
                <div class="form-group mb-5">
                  <label class="sr-only" for="modalSignupHorizontalPassword">
                    Create a password
                  </label>
                  <input type="password" class="form-control" id="modalSignupHorizontalPassword"
                    placeholder="Create a password" autocomplete="off">
                </div>

                <!-- Submit -->
                <button class="btn btn-block btn-primary-desat shadow-small-soft" type="submit">
                  Sign up
                </button>

              </form>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-center text-muted">
                Already have an account? <a href="#!">Log in</a>.
              </p>

            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>

<!-- Signup: Vertical 11 -->
<div class="modal fade" id="modalSignupVertical" tabindex="-1" role="dialog" aria-labelledby="modalSignupVerticalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card">

        <!-- Close -->
        <button type="button" class="modal-close close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Image -->
        <img src="@@webRoot/assets/img/photos/photo-7.jpg" alt="..." class="card-img-top">

        <!-- Shape -->
        <div class="position-relative">
          <div class="wave wave-bottom wave-fluid-x svg-shim text-white">
            @@include("../assets/img/shapes/curves/curve-8.svg")
          </div>
        </div>

        <!-- Body -->
        <div class="card-body">

          <!-- Heading -->
          <h2 class="mb-0 font-weight-bold text-center font-second" id="modalSignupVerticalTitle">
            Sign Up
          </h2>

          <!-- Text -->
          <p class="mb-6 text-center text-muted">
            Thank you for join us
          </p>

          <!-- Form -->
          <form class="mb-6">

            <!-- Email -->
            <div class="form-group">
              <label class="sr-only" for="modalSignupVerticalEmail">
                Email Address
              </label>
              <input type="email" class="form-control" id="modalSignupVerticalEmail" placeholder="Create a username"
                autocomplete="off">
            </div>

            <!-- Password -->
            <div class="form-group mb-5">
              <label class="sr-only" for="modalSignupVerticalPassword">
                Password
              </label>
              <input type="password" class="form-control" id="modalSignupVerticalPassword"
                placeholder="Create a password" autocomplete="off">
            </div>

            <!-- Submit -->
            <button class="btn btn-block btn-primary-desat shadow-small-soft" type="submit">
              Sign up
            </button>

          </form>

          <!-- Text -->
          <p class="mb-0 font-size-sm text-center text-muted">
            Already have an account? <a href="#!">Log in</a>.
          </p>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Signin: Horizontal  -->
<div class="modal fade" id="modalLoginHorizontal" tabindex="-1" role="dialog"
  aria-labelledby="modalLoginHorizontalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row no-gutters">
          <div class="col-12 col-md-6 bg-cover card-img-left"
            style="background-image: url(@@webRoot/assets/img/photos/photo-1.jpg);">

            <!-- Image (placeholder) -->
            <img src="@@webRoot/assets/img/photos/photo-1.jpg" alt="..." class="img-fluid d-md-none invisible">

            <!-- Shape -->
            <div class="wave wave-right wave-fluid-y svg-shim text-white d-none d-md-block">
              @@include("../assets/img/shapes/curves/curve-9.svg")
            </div>

          </div>
          <div class="col-12 col-md-6">
            <div class="card-body">

              <!-- Close -->
              <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

              <!-- Heading -->
              <h2 class="mb-0 font-weight-bold text-center font-second" id="modalLoginHorizontalTitle">
                Sign in
              </h2>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                Welcome to our platform
              </p>

              <!-- Form -->
              <form class="mb-6">

                <!-- Email -->
                <div class="form-group">
                  <label class="sr-only" for="modalLoginHorizontalEmail">
                    Your email
                  </label>
                  <input type="email" class="form-control" id="modalLoginHorizontalEmail" placeholder="Your email"
                    autocomplete="off">
                </div>

                <!-- Password -->
                <div class="form-group mb-5">
                  <label class="sr-only" for="modalLoginHorizontalPassword">
                    Enter your password
                  </label>
                  <input type="password" class="form-control" id="modalLoginHorizontalPassword"
                    placeholder="Enter your password" autocomplete="off">
                </div>

                <!-- Submit -->
                <button class="btn btn-block btn-primary-desat shadow-small-soft" type="submit">
                  Sign in
                </button>

              </form>

              <!-- Text -->
              <p class="mb-0 font-size-sm text-center text-muted">
                Don't have an account yet? <a href="#!">Sign up</a>.
              </p>

            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>

<!-- Signin: Vertical 22 -->
<div class="modal fade" id="modalLoginVertical" tabindex="-1" role="dialog" aria-labelledby="modalLoginVerticalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card">

        <!-- Close -->
        <button type="button" class="modal-close close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Image -->
        <img src="@@webRoot/assets/img/photos/photo-21.jpg" alt="..." class="card-img-top">

        <!-- Shape -->
        <div class="position-relative">
          <div class="wave wave-bottom wave-fluid-x svg-shim text-white">
            @@include("../assets/img/shapes/curves/curve-8.svg")
          </div>
        </div>

        <!-- Body -->
        <div class="card-body">

          <!-- Heading -->
          <h2 class="mb-0 font-weight-bold text-center font-second" id="modalLoginVerticalTitle">
            Sign in
          </h2>

          <!-- Text -->
          <p class="mb-6 text-center text-muted">
            Welcome to our platform
          </p>

          <!-- Form -->
          <form class="mb-6">

            <!-- Email -->
            <div class="form-group">
              <label class="sr-only" for="modalSigninVerticalEmail">
                Your email
              </label>
              <input type="email" class="form-control" id="modalSigninVerticalEmail" placeholder="Your email"
                autocomplete="off">
            </div>

            <!-- Password -->
            <div class="form-group mb-5">
              <label class="sr-only" for="modalSigninVerticalPassword">
                Enter your password
              </label>
              <input type="password" class="form-control" id="modalSigninVerticalPassword"
                placeholder="Enter your password" autocomplete="off">
            </div>

            <!-- Submit -->
            <button class="btn btn-block btn-primary-desat shadow-small-soft" type="submit">
              Sign in
            </button>

          </form>

          <!-- Text -->
          <p class="mb-0 font-size-sm text-center text-muted">
            Don't have an account yet? <a href="#!" class="text-danger">Sign up</a>.
          </p>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Video Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <button type="button" class="close-video" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" id="video" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Example -->
<div class="modal fade" id="modalPayment" tabindex="-1" role="dialog" aria-labelledby="modalPaymentTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

        <!-- Heading -->
        <h2 class="font-weight-bold text-center mb-1 font-second" id="modalPaymentTitle">
          Add Payment
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-center text-muted mb-6 mb-md-8">
          Simplify your workflow in minutes.
        </p>

        <!-- Form -->
        <form>

          <!-- Name -->
          <div class="form-group">
            <label for="modalCardName">Name on card</label>
            <input class="form-control" id="modalCardName" type="text" placeholder="Card Name">
          </div>

          <!-- Name -->
          <div class="form-group">
            <label for="modalCardNumbber">Card number</label>
            <input class="form-control" id="modalCardNumbber" type="number" placeholder="4242 4242 4242 4242">
          </div>

          <!-- Name -->
          <div class="form-group">
            <label for="modalCardtDate">Exp. Date</label>
            <input class="form-control" id="modalCardtDate" type="text" placeholder="09/2024">
          </div>

          <!-- Submit -->
          <button class="btn btn-block btn-primary-desat shadow-small-soft mt-3 move">
            Add Payment
          </button>

        </form>

      </div>
    </div>
  </div>
</div>