<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@container mx-xl-9 mx-xxl-13">

    <!-- Brand -->
    <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/Logo.svg" class="navbar-brand-img mb-1" alt="nav-icon">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">

        <!-- Landing pages-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true"
            aria-expanded="false">
            Landing
          </a>
          <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
            <div class="row no-gutters align-items-center">
              <div class="col-12 col-lg-6">
                <div class="dropdown-body">
                  <div class="row no-gutters ">

                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Main
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="@@webRoot/index.html">
                        Basic
                      </a>
                      <a class="dropdown-item" href="@@webRoot/success-landing.html">
                        Success
                      </a>
                      <a class="dropdown-item mb-5" href="@@webRoot/little-course.html">
                        Little
                      </a>

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Company
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="@@webRoot/about.html">
                        About
                      </a>
                      <a class="dropdown-item" href="@@webRoot/contact.html">
                        Contact
                      </a>

                    </div>

                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Additional Landing
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="#!">
                        Coming soon <small class="text-primary">(New)</small>
                      </a>
                      <a class="dropdown-item mb-5" href="@@webRoot/mobile-app.html">
                        Coming soon <small class="text-primary">(New)</small>
                      </a>

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Courses
                      </h6>

                      <a class="dropdown-item" href="@@webRoot/course-horizontal.html">
                        Course Horizontal
                      </a>
                      <a class="dropdown-item" href="@@webRoot/course-middle.html">
                        Course Middle
                      </a>
                      <a class="dropdown-item" href="course-veritical.html">
                        Course Veritical
                      </a>
                      <a class="dropdown-item" href="course-detail.html">
                        Course View
                      </a>

                    </div>

                  </div> <!-- / .row -->
                </div>
              </div>

              <div class="col-12 col-lg-6">
                <img src="@@webRoot/assets/img/background/3327590.jpg" class="img-fluid" alt="cover-illustration">
              </div>

            </div> <!-- / .row -->
          </div>
        </li>

        <!-- pages-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarPages" data-toggle="dropdown" href="#" aria-haspopup="true"
            aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarPages">
            <div class="row no-gutters">
              <div class="col-8">
                <div class="row no-gutters">
                  <div class="col-12 col-lg-6">

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Teacher
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="@@webRoot/teacher-dashboard.html">
                      Dashboard
                    </a>
                    <a class="dropdown-item" href="@@webRoot/teacher-notification.html">
                      Notification
                    </a>
                    <a class="dropdown-item" href="@@webRoot/teacher-settings.html">
                      Settings
                    </a>
                    <a class="dropdown-item" href="@@webRoot/teacher-security.html">
                      Security
                    </a>
                    <a class="dropdown-item" href="@@webRoot/teacher-structure.html">
                      Structure
                    </a>
                    <a class="dropdown-item" href="@@webRoot/teacher-add-course.html">
                      Add course
                    </a>
                    <a class="dropdown-item" href="@@webRoot/teacher-courses.html">
                      Courses
                    </a>
                    <a class="dropdown-item" href="@@webRoot/teacher-add-exam.html">
                      Add exam
                    </a>
                    <a class="dropdown-item mb-5 mb-lg-0" href="@@webRoot/teacher-payment.html">
                      Payment
                    </a>
                    <a class="dropdown-item mb-5 mb-lg-0" href="@@webRoot/teacher-help.html">
                      Help center
                    </a>

                  </div>
                  <div class="col-12 col-lg-6">

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Student
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="@@webRoot/student-dashboard.html">
                      Dashboard
                    </a>
                    <a class="dropdown-item" href="@@webRoot/student-notification.html">
                      Notification
                    </a>
                    <a class="dropdown-item" href="@@webRoot/student-settings.html">
                      Settings
                    </a>
                    <a class="dropdown-item" href="@@webRoot/student-security.html">
                      Security
                    </a>
                    <a class="dropdown-item" href="@@webRoot/student-course.html">
                      Courses
                    </a>
                    <a class="dropdown-item" href="@@webRoot/student-course-detail.html">
                      Course: Detail
                    </a>
                    <a class="dropdown-item" href="@@webRoot/student-test.html">
                      Online test
                    </a>
                    <a class="dropdown-item" href="@@webRoot/student-exam.html" target="_blank">
                      Exam
                    </a>

                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="row no-gutters">
                  <div class="col-12 col-lg-12">

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Help
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="@@webRoot/faq.html">
                      Faq
                    </a>
                    <a class="dropdown-item mb-5" href="@@webRoot/thankyou.html">
                      Thank you
                    </a>

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Payment
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="@@webRoot/checkout.html">
                      Checkout
                    </a>
                    <a class="dropdown-item mb-5" href="@@webRoot/invoice.html" target="_blank">
                      Invoice
                    </a>

                    <!-- Teachers -->
                    <h6 class="dropdown-header">
                      Instructor
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="@@webRoot/teachers.html">
                      Teachers
                    </a>
                    <a class="dropdown-item" href="@@webRoot/teacher-detail.html">
                      Teacher: Detail
                    </a>


                  </div>
                </div>
              </div>

            </div>
          </div> <!-- / .row -->
        </li>

        <!-- blog pages-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarBlog" data-toggle="dropdown" href="#" aria-haspopup="true"
            aria-expanded="false">
            Blog
          </a>
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarBlog">
            <div class="list-group list-group-flush">
              <a class="list-group-item" href="@@webRoot/blog.html">

                <!-- Icon -->
                <div class="icon icon-sm">
                  @@include("../assets/img/svg-colored-icon/blog-icon.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary-desat mb-0">
                    Blog
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    Full list of blog
                  </p>

                </div>

              </a>
              <a class="list-group-item" href="@@webRoot/blog-detail.html">

                <!-- Icon -->
                <div class="icon icon-sm">
                  @@include("../assets/img/svg-colored-icon/blog-view-icon.svg")
                </div>

                <!-- Content -->
                <div class="ml-4">

                  <!-- Heading -->
                  <h6 class="font-weight-bold text-uppercase text-primary-desat mb-0">
                    Blog View
                  </h6>

                  <!-- Text -->
                  <p class="font-size-sm text-gray-700 mb-0">
                    Blog detail page
                  </p>

                </div>

              </a>
            </div>
          </div>
        </li>

        <!-- Account-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarAccount" data-toggle="dropdown" href="#" aria-haspopup="true"
            aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccount">
            <li class="dropdown-item dropright">
              <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                Sign In
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="@@webRoot/login-colored.html" target="_blank">
                  Colored
                </a>
                <a class="dropdown-item" href="@@webRoot/login-illustration.html" target="_blank">
                  Illustration
                </a>
                <a class="dropdown-item" href="@@webRoot/login.html" target="_blank">
                  Basic
                </a>
                <a class="dropdown-item" href="@@webRoot/login-horizontal.html" target="_blank">
                  Horizontal
                </a>
                <a class="dropdown-item" data-toggle="modal" href="#modalLoginHorizontal">
                  Modal Horizontal
                </a>
                <a class="dropdown-item" data-toggle="modal" href="#modalLoginVertical">
                  Modal Vertical
                </a>
              </div>
            </li>
            <li class="dropdown-item dropright">
              <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                Sign Up
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="@@webRoot/register-colored.html" target="_blank">
                  Colored
                </a>
                <a class="dropdown-item" href="@@webRoot/register-illustration.html" target="_blank">
                  Illustration
                </a>
                <a class="dropdown-item" href="@@webRoot/register.html" target="_blank">
                  Basic
                </a>
                <a class="dropdown-item" href="@@webRoot/register-horizontal.html" target="_blank">
                  Horizontal
                </a>
                <a class="dropdown-item" data-toggle="modal" href="#modalSignupHorizontal">
                  Modal Horizontal
                </a>
                <a class="dropdown-item" data-toggle="modal" href="#modalSignupVertical">
                  Modal Vertical
                </a>
              </div>
            </li>
            <li class="dropdown-item dropright">
              <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                Password Reset
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="@@webRoot/reset-colored.html" target="_blank">
                  Colored
                </a>
                <a class="dropdown-item" href="@@webRoot/reset-password-illustration.html" target="_blank">
                  Illustration
                </a>
                <a class="dropdown-item" href="@@webRoot/reset-password.html" target="_blank">
                  Basic
                </a>
              </div>
            </li>
            <li class="dropdown-item dropright">
              <a class="dropdown-link dropdown-toggle" data-toggle="dropdown" href="#">
                Error
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="@@webRoot/error-colored.html" target="_blank">
                  Colored
                </a>
                <a class="dropdown-item" href="@@webRoot/error-illustration.html" target="_blank">
                  Illustration
                </a>
                <a class="dropdown-item" href="@@webRoot/error.html" target="_blank">
                  Basic
                </a>
              </div>
            </li>
          </ul>
        </li>

        <!-- Documentation-->
        <li class="nav-item">
          <a class="nav-link" href="@@webRoot/docs/index.html">
            Documentation
          </a>
        </li>

      </ul>

      <!-- Language -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-none d-lg-block" id="selectLanguageEn" data-toggle="dropdown" href="#"
            aria-haspopup="true" aria-expanded="false">
            <i class="fe fe-globe"></i>
            EN <i class="fe fe-chevron-down"></i>
          </a>
          <a class="nav-link dropdown-toggle d-block d-lg-none" id="selectLanguage" data-toggle="dropdown" href="#"
            aria-haspopup="true" aria-expanded="false">
            Language
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">English <img src="@@webRoot/assets/img/flags/GB.png"
                class="float-right img-fluid" alt="eng"></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">United States <img src="@@webRoot/assets/img/flags/US.png"
                class="float-right img-fluid" alt="us"></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Germany <img src="@@webRoot/assets/img/flags/DE.png"
                class="float-right img-fluid" alt="de"></a>
          </div>
        </li>
      </ul>

    </div>

  </div>
</nav>