<div class="collapse d-lg-block" id="sidenavCollapse">
    <div class="py-7 py-lg-9 px-lg-7">

        <!-- Heading -->
        <h6 class="text-uppercase font-weight-bold">
            Getting started
        </h6>

        <!-- Links -->
        <ul class="list mb-6">
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/index.html">Get Started</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/grid.html">Grid</a>
            </li>
        </ul>

        <!-- Heading -->
        <h5 class="main-heading font-weight-bold">
            Components
        </h5>

        <!-- Links -->
        <ul class="list mb-6">
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/alerts.html">Alerts</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/badges.html">Badges</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/breadcrumb.html">Breadcrumb</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/buttons.html">Buttons</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/colors.html">Colors</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/forms.html">Forms</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/icons.html">Icons</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/modal.html">Modal</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/shapes.html">Shapes</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/typography.html">Typography</a>
            </li>
        </ul>
        <!-- Heading -->
        <h5 class="main-heading font-weight-bold">
            Utilities
        </h5>

        <ul class="list mb-6">
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/background.html">Background</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/borders.html">Borders</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/moving.html">Move</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/overlay.html">Overlay</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/position.html">Position</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/shadows.html">Shadows</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/sizing.html">Sizing</a>
            </li>
        </ul>

        <!-- Heading -->
        <h6 class="text-uppercase font-weight-bold">
            Design
        </h6>

        <!-- Links -->
        <ul class="list mb-0">
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/design.html">Adobe XD</a>
            </li>
            <li class="list-item">
                <a class="list-link" href="@@webRoot/docs/svg-photo.html">Svg photo and icon</a>
            </li>
        </ul>

    </div>
</div>