<nav class="navbar navbar-light bg-transparent navbar-padding-y-sm">
  <div class="@@container mx-xl-9 mx-xxl-13">

    <ul class="nav mr-auto d-none d-lg-block">
      <li class="nav-item ml-0">
        <a class="nav-link text-body" href="#">
          <i class="fe fe-phone"></i>&nbsp;010-3695-8969</a>
      </li>
    </ul>
    <ul class="nav mx-auto mx-lg-0 ml-sm-0 ml-auto">
      <li class="nav-item">
        <a class="nav-link text-body" href="@@webRoot/faq.html">
          <i class="fe fe-alert-circle"></i>&nbsp;Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-body" data-toggle="modal" href="#modalLoginVertical">
          <i class="fe fe-user"></i>&nbsp;Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-body" data-toggle="modal" href="#modalSignupHorizontal">
          <i class="fe fe-file-text"></i>&nbsp;Register</a>
      </li>
    </ul>

  </div>
</nav>